.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  /* background-color: #D1C4E9; */
  background-color: rgb(86, 75, 187);
   /* background-color: blue; */
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  /* background: #9575CD; */
  background: rgb(12, 100, 172);
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  /* background-color: gray; */
  background-image: url("img/home_bg.jpg");
  background-repeat:no-repeat ;
  background-attachment: fixed;
  background-size:  cover;
  /* background-blend-mode: hard-light; */
  z-index: 0; }

.navbar-inverse {
  background-color:#1764d6; 
  /* background-color: #512DA8;  */
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  /* background: gray; */
  background: rgb(43, 87, 209); 
}
  .carousel .carousel-item {
    /* width: 250px; */
    height: 400px;
    color: black; }
    .carousel .carousel-item img {
      
      position: absolute;
      top: 0;
      left: 0;
      min-height: 400px; 
    }



#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.modal-header {
  /* background-color: #512DA8; */
  background-color: #2f24ca;
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background-color: #D1C4E9; 
  /* background-image: ; */
}

.modal-footer {
  /* background-color: #9575CD;  */
  background-color: #63b932; 

}
